<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='celec_logo.png') }}" type="image/png">
    <title>Certificate Generator</title>
</head>
<body>
    <h1>Upload Certificate Template and Name List</h1>
    <form action="/generate" method="post" enctype="multipart/form-data">
        <label for="template">Certificate Template (Image): </label>
        <input type="file" name="template" required><br><br>

        <label for="list">Name List (CSV with 'name' column): </label>
        <input type="file" name="names" required> <br><br>

        <input type="submit" value="Generate Certificates">
    </form>
</body>
</html>